<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/a932c6961f.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tenant Buddy</title>
</head>

<body>
  <div class="flex-column justify-space-around header-styling">
    <header class ="justify-space-between align-center p-2">
      <div class="display-flex">

        <nav class="hamburger fas fa-bars"> 
          <ul class="nav-menu">
            {{#if logged_in}}
            <li class="nav-item"><a href="/profile">Profile</a></li>
            <li class="nav-item" ><a href="/reservation">Reservations</a></li>
            {{/if}} 
            <li class="nav-item" ><a href="/contact">Contact</a></li>
          </ul>

        </nav>

        <span>
          <h2><a href="/" class="nav-title">Lighten Your Load</a></h2>
        </span>
        {{#if logged_in}}
        <span class="nav-logout" href="/">Logout</span>
        {{/if}}

      </div>
    </header>
  </div>

  {{{body}}}
  
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
  <script src="./js/main.js"></script>
</body>

</html>
