<main>
        <div>
            <h1>
                Create New Washer Reservation
            </h1>
            <h2>
                Select either 'Available Now' for current availability or select the time frame that you would like to
                make a reservation in.
            </h2>
        </div>
        <div>
            <h2>
                Available Now
            </h2>
            <section>
                <h4>
                    1
                </h4>
                <h4>
                    2
                </h4>
                <h4>
                    3
                </h4>
                <h4>
                    4
                </h4>
                <h4>
                    5
                </h4>
            </section>
        </div>
        <div>
            <h2>
                Reservation Time Span
            </h2>
            <section>
                <datalist>
                    Start Time
                </datalist>
                <datalist>
                    End Time
                </datalist>
            </section>
        </div>
    </main>