
<main class="align-center justify-center dashboard-outer-shell">
    <div class = "dash-mid-shell">
        <div class = "flex-column align-center justify-space-around dashboard-inner-shell row dash-top-row">
        <div class= "col-md-3 laundry-button ">
            <button class='btn' type='submit' id='reserve-btn'>
                Laundry
            </button>
        </div>
        <div class= "col-md-3 tool-button">
            <button>
                Tool Rental 
                <p>Coming Soon</p>
            </button>
        </div >
        <div class= "col-md-3 parking-button">
            <button>
                Parking Space Management 
                <p>Coming Sooner or Later!</p>
            </button>
        </div>

    </div>
    <div class="flex-column align-center justify-space-around dashboard-inner-shell row dash-bottom-row">
         <div class= "col-md-6 dash-reservation-status">

            <h2>
                Reservation Status
            </h2>
            {{#each reservations as |reservation|}}
            {{#if is_complete}}
            <h3>
                Past
            </h3>
            <ul>
                <li>
                    Machine {{machine_id}} finished at {{format_date reserve_time}}.
                </li>
            </ul>
            {{else}}
            <h3>
                Current
            </h3>
            <ul>
                Machine {{machine_id}} is currently in use.
            </ul>
            {{/if}}
            {{/each}}
        </div>


        <div class='flex-column justify-space-around col-md-4 out-not-mess'>
            <div class=" row notification-center">
                <h2>
                    Notification Center
                </h2>
                <ul>
                    <li>
                        01/02/2022: The laundry machines will be down for maintenance indefinitely :/
                    </li>
                    <li>
                        12/30/2021: Please stop hanging your clothes to dry on the pipes on the ceiling!
                    </li>
                </ul>
                <h4>
                    Functionality Coming in Your Dreams!
                </h4>
            </div>

            <div class="row message-board">
                <h2>
                    Message Board
                </h2>
                <p>
                    Feature- Coming Maybe?
                </p>
            </div>
        </div>
    

       
   
    
</main>

<script src="/js/dashboard.js"></script>