{{#each apartment.complex.machines as |machine|}}
<form class="form available-machine-form" id="{{id}}">
  <div class="row">{{size}} {{type}} {{id}} is available.</div>
  <button class="btn row" type="submit">Reserve Now</button>
</form>
{{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/futureres.js"></script>