<h1 class="text-center">
    Welcome to Tenant-Buddy!
</h1>

<div class="button-section row justify-space-around align-center">
    <button class="login-button btn-lg btn bg-info" onclick="">
        Login
    </button>

    <button class="sign-up-button btn-lg btn bg-info" onclick="">
        Sign-up
    </button>
</div>