    <div class = "flex-column align-center justify-center homepage-outer-shell">
    </div>
    <div class = "homepage-inner-shell flex-column col-6">
    <h1 class="text-center">
        Welcome to Dibs!
    </h1>

    <div class="button-section row justify-space-around align-center">
        <button class="login-button btn-lg btn bg-info" onclick="">
            Login
        </button>

        <button class="sign-up-button btn-lg btn bg-info" onclick="">
            Sign up
        </button>
    </div>


<script src="/js/homepage.js"></script>

