    <main>
        <h1>
            Lighten Your Load!
        </h1>
        <div>
            <button>
                +
            </button>
            <h2>
                Create New Washer Reservation
            </h2>
            <button>
                +
            </button>
            <h2>
                Create New Dryer Reservation
            </h2>
            <button>
                Manage Reservations
            </button>
        </div>
    </main>