:root {
  --dark-blue: rgb(29,61,61);
  --mint: rgb(103,165,145);
  --cream:rgb(218,217,185);
  --light-brown:rgb(192,136,88);
  --dark-brown: rgb(162,118,91);

  --cream-opactiy: rgb(218,217,185,0.8);
  --dark-blue-opacity: rgb(29,61,61,0.5);
  --dark-brown-opacity: rgb(162,118,91,0.7);

  --font-mellow: 'Roboto', sans-serif;



  --font-perm-mark: 'Permanent Marker', Cursive;
  --perm-mark-size: 55px;
  --font-overpass: 'Overpass', Sans-Serif;
  --overpass-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lobster', cursive; */
  font-family: var(--font-overpass);
  /* font-size: var(--overpass-size); */

}
header{
  border-bottom: 2px solid #E2E8F0;
  z-index:999;
  display: flex;
  flex-direction: row;
}

h2 {
  margin-block-end:0px !important;
  margin-bottom: 5px !important;
}


html, body {
  height:100% !important;
}

/******************* NAV BAR *********************/

.nav-styling {
  background-color: var(--cream);

  /* border-bottom: 2px solid var(--mint); */
  /* height: 100%; */
}

nav, .nav-logout {
  font-size: 2.1rem;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.75rem;
  /* background-color: var(--cream); */
}

.nav-logout {
  display: flex !important;
  float: inline-end !important;
  text-shadow: 2px 2px var(--light-brown);
  color: var(--dark-blue);
  margin-bottom: 5px;
  font-family: var(--font-perm-mark) ;
  /* font-size: var(--perm-mark-size); */
}

.nav-logout-wrap {
  display:flex;
  justify-items:  flex-end;
}

.fa-bars {
  align-self:center;
}

.nav-title {
  display: inline !important;
  margin-left: 0.75rem !important;
  cursor: pointer;
  float: left;
  text-shadow: 2px 2px var(--light-brown);
  color: var(--dark-blue);
  line-height: 100%;
  height: 100%;
  font-family: var(--font-perm-mark) ;
  /* font-size: var(--perm-mark-size); */
}

.hamburger {
  display: inline-flexbox !important;
  color: var(--mint);
  justify-items: space-between;
  text-shadow: 2px 2px var(--dark-blue);
  cursor: pointer;
  z-index: 999;
  margin-bottom: 5px;
}

.nav-menu {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border: 5px solid var(--cream);
  border-radius: 0px !important;
;}

.nav-item{
  font-size: 1.6rem !important;
  font-weight: 400;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  text-shadow: 1px 1px var(--mint);
  color: var(--dark-blue);
  /* font-family:  */
  background-color: var(--cream);

}

/******************* HOMEPAGE HNBLBARS ************************/

.homepage-outer-shell {
  background: url("../images/homepage-background.jpeg");
  filter:blur(3px);
  -webkit-filter: blur(3px);

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px ;

}


.homepage-inner-shell {
  border: 5px solid var(--cream);
  padding: 3rem;
  display: flex;
  background-color: var(--dark-blue-opacity);
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%; 

}

.homepage-inner-shell h1 {
  color: white;
  text-shadow: 2px 2px var(--dark-brown);
  font-family: var(--font-mellow) ;
  font-size: xx-large;
}

.button-section {
  border: 5px solid var(--mint);
  padding: 2px;

}


.login-button {
  border: 5px solid var(--dark-brown);
  padding: 2px;

}

.sign-up-button {
  border: 5px solid var(--light-brown);
  padding: 2px;

}






/*********************** ON HOVER ****************************/

.nav-item:hover{
  text-decoration: none;
  color: var(--mint);
  background-color: none;
  text-shadow: 1px 1px var(--dark-blue);
  border: 5px solid var(--light-brown);
  margin: 1px var(--light-brown) !important;
}


/************* MEDIA QUERIES ****************/

@media only screen {
  .nav-menu {
      position: fixed;
      left: -100%;
      top:60px;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}
