:root {
  --dark-blue: rgb(29,61,61);
  --mint: rgb(103,165,145);
  --cream:rgb(218,217,185);
  --light-brown:rgb(192,136,88);
  --dark-brown: rgb(162,118,91);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

.header{
  border-bottom: 1px solid #E2E8F0;
}

.header-styling {
  background-color: var(--red);
}
nav, .nav-logout {
  font-size: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  padding: 0rem 0.75rem;
=======
  padding: 1rem 1.5rem;
  z-index: 9999;
  position: relative;
>>>>>>> 56e43d8b734d5e4ac0d54de0ba38b99d51c740fb
}

.nav-logout {
  color: var(--mint);
  text-shadow: 2px 3px var(--medium);
}
.hamburger {
  display: inline-flexbox !important;
  color: var(--mint);
  justify-items: space-between;
  text-shadow: 2px 3px var(--medium);
  cursor: pointer;
  width: 100%;
}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-title {
  display: inline-flex !important;
  margin-left: 1rem !important;
}

.nav-item{
  font-size: 1.6rem !important;
  font-weight: 400;
  color: #475569;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
}

.nav-item:hover{
  color: #482ff7;
  background-color: #101010;
}


@media only screen {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}

